
body {
    background: url('/images/stamped_60px.png') #666 repeat fixed;

    &::-webkit-scrollbar {
        width: 16px;
    }
    &::-webkit-scrollbar-track {
        background-color: #111;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #333;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 4px solid #111;

        &:hover {
            background-color: #444;
        }
    }
}

/*
    needed a separate element for background chrome to fix redraw issues in
    chrome browser
 */
.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: $contentWidth;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $darkGrey;

    &.aside {

        &:before {
           @extend %aside-background;
           top: 151px;
        }

        @include until($bp-narrow-screen) {
            &:before {
                display: none;
            }
        }
    }

    @include until($bp-wide-screen) {
        width: 100%;
        margin: 0;
    }

}

h1 {
   color: $mediumGrey;
   font-family: $menuFont;
   text-transform: uppercase;
}

h2 {
    color: $keyYellow;
    font-family: $headerFont;
    text-transform: capitalize;
}

h3 {
    color: $keyYellow;
    font-family: $headerFont;
    text-transform: capitalize;
}

h4 {
    color: $lightGrey;
    font-family: $headerFont;
    text-transform: capitalize;
}

h5 {
    color: #999;
    font-family: $subheaderFont;
    text-transform: capitalize;
}

.social {
    display: inline-block;
    margin-right: 12px;

    &:first-child {
        margin-left: 10px;
    }

    a {
        .si-circle {
            color: $darkGrey;
            background-color: $keyYellow;
            transition: background-color 0.5s;
        }

        &:hover {
            .si-circle {
                background-color: #fff;
            }
        }
    }
}

#main-container {
    position: relative;
    width: $contentWidth;
    margin: $navHeight auto 0;
    @include rem-px(padding-top, 2rem);

    font-family: $bodyFont;
    @include font-size($sz-regular);
    color: $lightGrey;

    @include until($bp-wide-screen) {
        width: 100%;
        margin: $navHeight 0 0;
    }
}

.page-header {
    @include grid-block (10, 1, 1);
}

.page-aside {
    @include grid-block (3, 1);
}
