
body {
    background: url('/images/stamped_60px.png') #666 repeat fixed;
}

h1 {
    color: $keyYellow;
    font-family: $headerFont;
    text-transform: capitalize;
}

h2 {
    color: $keyYellow;
    font-family: $headerFont;
    text-transform: capitalize;
}

h3 {
    color: $keyYellow;
    font-family: $headerFont;
    text-transform: capitalize;
}

#main-container {
    position: absolute;
    width: $contentWidth;
    top: $navHeight;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    background: #222;
    @include rem-px(padding-top, 2rem);
    overflow-y: auto;
    overflow-x: hidden;

    .resume-section {
        h2 {
            @include rem-px(margin-bottom, 0.5rem);
        }
        p, ul {
            font-family: $bodyFont;
            @include font-size($sz-regular);
            color: $lightGrey;
        }

        ul {
            list-style: square outside;
            @include rem-px(margin-left, 1rem);
        }

    }
}
