@font-face {
    font-family: 'eurostileboldextendedtwo';
    src: url('/styles/fonts/eurostile-boldextendedtwo-webfont.eot');
    src: url('/styles/fonts/eurostile-boldextendedtwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/eurostile-boldextendedtwo-webfont.woff') format('woff'),
         url('/styles/fonts/eurostile-boldextendedtwo-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futuramedium';
    src: url('/styles/fonts/futura-medium-webfont.eot');
    src: url('/styles/fonts/futura-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/futura-medium-webfont.woff') format('woff'),
         url('/styles/fonts/futura-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gillsans';
    src: url('/styles/fonts/fgillsans-webfont.eot');
    src: url('/styles/fonts/gillsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/gillsans-webfont.woff') format('woff'),
         url('/styles/fonts/gillsans-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
