#main-header {
    position: fixed;
    top: 0px;
    width: 100%;
    @include rem-px(height $navHeight);
    background: #000;
    z-index: 10;
    @include single-box-shadow(#000, 0, 0, 1em);

    .nav-container {
        width: $contentWidth;
        height: $navHeight;
        margin: 0 auto;

        .site-title {
            float: left;
            height: $navHeight;
            color: $keyYellow;
            font-family: futuralight;
            @include font-size($sz-xx-large);
            @include rem-px(line-height, $navHeight);

            .slash {
                color: $mediumGrey;
            }

            .engineer {
                text-transform: uppercase;
                color: $lightGrey;
                @include font-size($sz-small);
                letter-spacing: 0.1em;
            }
        }

        nav {
            float: right;
            height: $navHeight;

            li {
                display: inline-block;
                @include rem-px(padding, 0, 0.625rem);
                @extend %control;
                @include rem-px(line-height, $navHeight);
                color: $mediumGrey;

                a {
                    text-decoration: none;
                    color: $mediumGrey;
                    transition: color 0.25s;

                    &:hover {
                        color: $lightGrey;
                    }

                    &:active {
                        color: #fff;
                    }
                }

                &.active {
                    @include background-image(linear-gradient($darkBlue, $brightBlue));

                    a {
                        color: #fff;
                    }
                }

                &.contact {
                    cursor: pointer;
                    padding: 0 0;
                    @include rem-px(margin-left, 2rem);
                }
            }
        }
    }
}
