#main-header {
    position: fixed;
    top: 0px;
    width: 100%;
    @include rem-px(height $navHeight);
    background: #000;
    z-index: 30;
    @include single-box-shadow(#000, 0, 0, 1em);

    .nav-container {
        width: $contentWidth;
        height: $navHeight;
        margin: 0 auto;

        .site-title {
            float: left;
            height: $navHeight;
            color: $keyYellow;
            font-family: futuralight;
            @include font-size($sz-xx-large);
            @include rem-px(line-height, $navHeight);

            .slash {
                color: $mediumGrey;
            }

            .engineer {
                text-transform: uppercase;
                color: $lightGrey;
                @include font-size($sz-small);
                letter-spacing: 0.1em;
            }

            @include until($bp-wide-screen) {
                margin-left: $gridGutterWidth / 2;
            }
        }

        nav {
            float: right;
            height: $navHeight;

            .nav-icon {
                position: relative;
                display: none;
                width: $navHeight;
                height: $navHeight;
                cursor: pointer;
                @include background-image(linear-gradient(#111, #444));

                &:before {
                    position: absolute;
                    width: 32px;
                    height: 25px;
                    left: 8px;
                    top: 14px;
                    border-top: solid 3px $keyYellow;
                    border-bottom: solid 3px $keyYellow;
                    content: '';
                }

                &:after {
                    position: absolute;
                    width: 32px;
                    left: 8px;
                    top: 25px;
                    border-top: solid 3px $keyYellow;
                    content: '';
                }

                &:hover {
                    @include background-image(linear-gradient(#111, #666));
                }

            }

            li {
                display: inline-block;
                @include rem-px(line-height, $navHeight);
                color: $mediumGrey;
                margin-bottom: 0;

                a {
                    @extend %control;
                    text-decoration: none;
                    color: $mediumGrey;
                    transition: color 0.25s;
                    display: block;
                    height: 100%;
                    @include rem-px(padding, 0, 0.625rem);

                    &:hover {
                        color: $lightGrey;
                    }

                    &:active {
                        color: #fff;
                    }
                }

                &.active {
                    @include background-image(linear-gradient($darkBlue, $brightBlue));

                    a {
                        color: #fff;
                        cursor: default;
                    }
                }

                &.contact {
                    cursor: pointer;
                    @include rem-px(margin-left, 2rem);

                    a {
                        padding: 0;
                    }
                }
            }

            @include until($bp-narrow-screen) {

                .contact {
                    display: none;
                }
            }

            @include until($bp-x-narrow-screen) {
                .nav-icon {
                    display: block;
                }

                .nav-list {
                    display: none;
                    position: fixed;
                    @include rem-px(top, $navHeight);
                    right: 0;
                    background: #000;
                    @include single-box-shadow(#000, 0, 0, 1em);

                    li {
                        display: block;

                        &.contact {
                            margin-left: 0;

                            a {
                                @include rem-px(padding, 0, 0.625rem);
                            }

                        }
                    }

                    &.show {
                        display: block;
                    }
                }
            }

            @include until($bp-wide-screen) {
                margin-right: $gridGutterWidth / 2;
            }
        }

        @include until($bp-wide-screen) {
            width: 100%;
            margin: 0;
        }

        @include until($bp-medium-screen) {
            .slash, .engineer {
                display: none;
            }
        }
    }
}
