
%aside-background {

    &:before {
        position: absolute;
        visibility: visible;
        top: 103px;
        bottom: 0;
        width: 310px / $gridBaseWidth * 100%;
        height: 100%;
        content: '';
        @include background-image(linear-gradient(left, $darkGrey 10px, #111));
        @include border-top-right-radius(8rem);
    }
}

%bullet-list {
    list-style: square outside;
    @include rem-px(margin-left, 1rem);
}

%control {
    font-family: $menuFont;
    @include font-size($sz-small);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

%scroller-nav {
    position: absolute;
    top: 0;
    width: 54px;
    height: 100%;
    cursor: pointer;
    z-index: 20;
}

%no-scroller-nav {
    cursor: default;
    pointer-events: none;

    .arrow {
        opacity: 0;
    }
}

%scroller-item {
    margin: 0 10px;
    float: left;
    display: block;
}

/*
    technique explained here:
    http://www.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/
 */
%absolute-center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
