
.portfolio-section {
    width: 100%;
    overflow: hidden;
    @include rem-px(margin-bottom, 3rem);

    header {
        @include rem-px(padding-top, 0.5rem);
        @include background-image(linear-gradient(top, #000, #111));
    }

    .section-title {
        @include grid-block(8, 1);
    }

    .section-link {
        @include grid-block(2);
    }

    .project-specs {
        @include grid-block(9);

        .label {
            @include grid-block(4, 0, 0, true, false, 700px, 9);
        }

        .content {
            @include grid-block(5, 0, 0, false, true, 700px, 9);
        }
    }

    @include until($bp-narrow-screen) {

        .section-title {
            @include grid-block(7, 1);
        }

        .section-link {
            @include grid-block(3);
        }

        .project-specs {
            width: 100%;
            margin: 0;

            .label {
                @include grid-block(3, 1);
            }

            .content {
                @include grid-block(7);
            }
        }

        .tech {
            display: none;
        }
    }

    @include until($bp-xx-narrow-screen) {

        .section-title {
            @include grid-block(10, 1, 1);
        }

        .section-link {
            @include grid-block(4, 4, 4);
            @include rem-px(margin-bottom, 1rem);
        }
    }

    .project-container {
        @include background-image(linear-gradient(top, #111, $darkGrey));
        @include rem-px(padding-top, 1rem);
    }

    h4 {
        text-align: right;
    }

    .scroller {
        position: relative;
        width: 100%;
        background-color: #000;
        //background-color: #ff0;
        @include rem-px(padding, 1rem, 0);

        .viewport-wrapper {
            display: table;
            width: 100%;

            .viewport-edge {
                display: table-cell;
                position: relative;
                background-color: rgba(0, 0, 0, 0);
                z-index: 10;
                transition: background-color 0.5s;

                &.left {
                    @include background-image(linear-gradient(left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)));
                }

                &.right {
                    @include background-image(linear-gradient(right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)));
                }
            }
        }

        .viewport {
            display: table-cell;
            position: relative;
            width: 800px;
            //background-color: #f00;
            @include transform-origin(0, 0);

            .scrollContainer {
                position: absolute;

                .items-visible-1 {
                    @extend %scroller-item;
                    width: 780px;
                }

                .items-visible-2 {
                    @extend %scroller-item;
                    width: 380px;
                }
            }
        }

        .previous {
            @include scroller-nav(left);
        }

        .next {
            @include scroller-nav(right);
        }

        &:not(.mouse-enter) {

            .previous {
                @extend %no-scroller-nav;
            }

            .next {
                @extend %no-scroller-nav;
            }

            .viewport-edge {
                background-color: rgba(0, 0, 0, 1);
            }
        }
    }

    p {
        @include rem-px(margin-bottom, 0.5rem);
    }

    .tech {
        @include rem-px(padding, 0, 1rem);
        @include grid-block(3);

        ul {
            color: $mediumGrey;
        }

        li {
            @include font-size($sz-small);
            margin-bottom: 0;
            @extend %bullet-list;
        }
    }

    a {
        display: block;
        @include rem-px(height, 2rem);
        @include rem-px(line-height, 2rem);
        @include single-box-shadow(shade($buttonBackground, 50%), 0, 0, 5px, 3px, true);
        @extend %control;
        background: $buttonBackground;
        color: $darkGrey;
        text-decoration: none;
        text-align: center;
        transition: background-color 0.4s;

        &:hover {
            @include single-box-shadow($buttonBackground, 0, 0, 5px, 3px, true);
            background: lighten($buttonBackground, 20%);
        }
    }
}
