
#main-container {

    .resume {
        @extend %aside-background;

        .resume-section {
            h2 {
                @include rem-px(margin-bottom, 0.5rem);
            }

            ul {
                list-style: square outside;
                @include rem-px(margin-left, 1rem);

                strong {
                    font-family: $subheaderFont;
                }
            }
        }

        aside {
            text-align: right;

            @include rem-px(padding-right, 3rem);

            ul {
                @include rem-px(margin-bottom, 1rem);
                color: $mediumGrey;
            }

            li {
                @include font-size($sz-small);
                margin-bottom: 0;
            }
        }

        .references {
            font-family: $subheaderFont;
            text-transform: uppercase;
        }
    }
}
