*, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    color: $keyYellow;
    font-family: $headerFont;
    font-size: 26px;
    text-transform: capitalize;
}

h2 {
    color: $keyYellow;
    font-family: $headerFont;
    font-size: 21px;
    text-transform: capitalize;
}

h3 {
    color: $keyYellow;
    font-family: $headerFont;
    font-size: 16px;
    text-transform: capitalize;
}
