// metrics
$navHeight: 40px;
$contentWidth: 960px;

// colors
$darkBlue: #0016B3;
$brightBlue: #0020FF;
$keyYellow: #FFC500;
$mediumGrey: #666;
$lightGrey: #aaa;

// fonts
$headerFont: 'futuramedium';
$bodyFont: 'gillsans';
