// metrics
$navHeight: 3rem;
$contentWidth: 960px;
$scrollerNavWidth: 2.5rem;
$scrollerNavHeight: 7.5rem;
$leading: 0.625rem; // 10px

// colors
$darkBlue: #005081;
$brightBlue: #299db5;
$keyYellow: #ffa000;

$mediumGrey: #666;
$lightGrey: #bbb;
$darkGrey: #222;
$buttonBackground: lighten($keyYellow, 10%);

// fonts
$headerFont: 'futuralight';
$bodyFont: 'gillsans';
$menuFont: 'eurostileboldextendedtwo';
$subheaderFont: 'gillsanssemibold';

//
// typographic rem mnemonics
// (this is an interleaved fibinacci sequence, starting from 4, 6 and 5, 8)
//
$sz-xx-small:   0.5;    // 8/16
$sz-x-small:    0.625;  // 10/16
$sz-small:      0.8125; // 13/16
$sz-regular:    1.0;    // 16/16
$sz-medium:     1.3125; // 21/16
$sz-large:      1.625;  // 26/16
$sz-x-large:    2.125;  // 34/16
$sz-xx-large:   2.625;  // 42/16
$sz-xxx-large:  3.4375; // 55/16


//
// breakpoint variables
//
$bp-wide-screen:        960px;
$bp-medium-screen:      850px;
$bp-narrow-screen:      700px;
$bp-x-narrow-screen:    600px;
$bp-xx-narrow-screen:   520px;
